.tarea-contenedor {
    width: 500px;
    min-height: 65px;
    background-color: rgb(85, 85, 85);
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

/* COLORES */
.tarea-contenedor:nth-child(3n + 1) {
    background-color: rgb(104, 104, 104);
}

.tarea-contenedor:nth-child(3n + 2) {
    background-color: rgb(135, 135, 135) ;
}

.tarea-contenedor:nth-child(3n + 3) {
    background-color: rgb(172, 172, 172);
}

.tarea-texto {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.tarea-icono {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.tarea-contenedor.completada {
    background-color: blueviolet;
    text-decoration: line-through;

}